div.container {
    width: 100%;
    border: 1px solid gray;
}
header {  
    font-family: fantasy; 
}
.bingo{  
font-family: cursive;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: mediumpurple;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

   
nav ul a {
    text-decoration: none;
}
.three {font-family: cursive}

article {
    margin:auto; 
    border-left: 1px black;
    border-right: 1px black;
    padding: 1em;
    overflow: hidden; 
}
.one {
    border: 2px solid #a1a1a1;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
}
.two {border: 2px solid #a1a1a1;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;}

.three {border: 2px solid #a1a1a1;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;}

.four {border: 2px solid #a1a1a1;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;}
</style>

